.banner {
    border-radius: 25px;
    position: relative;
    margin: 5rem;
    height: 15rem;
}

.banner-image {
       border-radius: 25px;
       position: relative;
       height: 100%;
       object-fit: cover;
       width: 100%;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    color: #FFFFFF;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Responsywność dla urządzeń mobilnych */
@media only screen and (max-width: 768px) {
    .banner {
        margin: 0.5rem;
        height: 5rem;
    } 
    .banner-image {
        border-radius: 10px;
    }
    .banner-text {
        width: 62%;
        font-size: 24px;
        text-align: start;
    }
}

/* Responsywność dla tabletów */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .banner {
        margin: 1.5rem;
        height: 10rem;
    }
}
