.stars {
    text-align: end;
    margin: 1rem 0 1rem 0; 
}

.star-icone { 
    height: 36px;
    width: 36px;
}

/* mobile */
@media only screen and (max-width: 768px) {
    .stars {
        text-align: start;
        margin: 0; 
        padding: 0.5rem;
    }
    .star-icone { 
        height: 18px;
        width: 18px;
    }
    
}

/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .stars {
        text-align: start;
        margin: 0; 
        padding: 1.5rem;
    }
    .star-icone { 
        height: 32px;
        width: 32px;
    }
}

