
.collapse {
margin: 15rem;
border-radius: 25px;
justify-content: center;
align-items: center;
/* max-height: 50px; */
}


.collapse-button {
    background-color: #FF6060;
    border-radius: 10px;
    border: none;
    width: 100%;
   
}

.collapse-title {

    color: #FFFFFF;
    border-radius: 15px;
}

.collapse-text{
    background-color: #E5E5E5;
    color: #FF6060;
    border-radius:   0px 0px 15px 15px;
    font-size: 1.4rem;
    margin-top: -5px;
}

p{
    margin: 0;
    padding: 2rem;
}



    
