.error {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
    height: 40%;
    width: 40%;
    margin-top: 3rem;
}

.error-text {
    margin: 4rem 0 2rem;
    font-size: 36px;
}

.error-link {
    color: #FF6060;
    font-size: 18px;
    margin: 4rem 0;
}


/* mobile */
@media only screen and (max-width: 768px) {
      .error-image {
        height: 50%;
        width: 50%;
        margin-top: 3rem;
    }
    .error-text {
        margin: 1.5rem 2.5rem;
        font-size: 18px;
    }
    .error-link {
        font-size: 14px;
        margin: 2rem 0;
    }
}

/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .error-image {
        height: 50%;
        width: 50%;
        margin-top: 4rem;
    }
}
