.error {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
    height: 40%;
    width: 40%;
    margin-top: 2rem;
}

.error-text {
    margin: 4rem 0 2rem;
    font-size: 36px;
}

.error-link {
    color: #FF6060;
    font-size: 18px;
    margin: 4rem 0;
}


/* Responsywność dla urządzeń mobilnych */
@media only screen and (max-width: 768px) {
 
}

/* Responsywność dla tabletów */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Responsywność dla dużych ekranów */
@media only screen and (min-width: 1025px) {

}