.host-profil{
    display: flex;
    justify-content: flex-end;
}

.host-name {
    margin: 1rem;
    text-align: end;
    font-size: 24px;
}

.host-image {
    border-radius: 100%;
}
/* mobile */
@media only screen and (max-width: 768px) {
    .host-profil{
        display: flex;
        justify-content: flex-end;
    }
    
    .host-name {
        margin: 0.5rem;
        text-align: end;
        font-size: 12px;
    }
    .host-image {
        margin: 10px;
        height: 32px;
        width: 32px;
    }
}

/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .host-name {
        margin: 1rem;
        text-align: end;
        font-size: 18px;
    }
    .host-image {
        margin: 1rem;
        height: 66px;
        width: 66px;
    }
}