.apartment {
    background-color: #FF6060;
    margin: 5rem;
}
.apartment-images {
        width: 100px;
        height: 100px;
        border-radius: 25px;
        object-fit: cover;
    
}
.apartment-content {
    display:flex;
    justify-content: space-between;


}

.apartment-informations {

}

.apartment-title {
    font-size: 18px;
}
.apartment-location {

}
.apartment-tags {
display: flex;

}
.apartment-profil {

}

.apartment-stars {

}
.apartment-dropdown {

}